body { background: url(/gplaypattern.png) #f5f7fa !important; }.page { max-width: 860px !important; }@media (max-width: 975px) {
    .sidebar { background: url(/shattered-island.png) !important; }
  }